<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Трипольской культуры</string>
		<key>address</key>
		<string>ул. Фрометовская, 2</string>
		<key>description</key>
		<string>Трипольская цивилизация существовала десятки веков раньше на территории Украины и простиралась от Восточных Карпат до Преднепровья. Раскопки дали возможность воспроизвести около 500 га площади, включая разнообразные строения (иногда попадаются двухэтажные), предметы из керамики, тотемы, мини-храмы и т.д.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Киев в миниатюре</string>
		<key>address</key>
		<string>Броварской проспект, 9в (метро «Гидропарк»)</string>
		<key>description</key>
		<string>Киев в миниатюре был открыт в июне 2006 года. Тут можно увидеть центр Киева с улицей Крещатик, Площадь Независимости с машинами, людьми, деревьями, клумбами и фонтанами. А так же Верховный Совет Украины, Московский мост через Днепр, великую Лавру, Железнодорожный Вокзал, Золотые Ворота.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Парк Вечной славы</string>
		<key>address</key>
		<string>ул. Ивана Мазепы (метро «Арсенальная»)</string>
		<key>description</key>
		<string>Парк Вечной славы - был задуман как памятник Неизвестному солдату. Аллею, ведущую к 27-метровой стеле, венчают плиты с именами Героев, защитников родины в годы Второй Мировой войны.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Парк Победа</string>
		<key>address</key>
		<string>бульвар Перова, 2 (ст. м. «Дарница»)</string>
		<key>description</key>
		<string>Вход в парк открывают красивые гранитные фонтаны. А охраняет его памятник матери, провожающей сына на фронт, ведь Великая Победа досталась нашему народу очень высокой ценой. Главная аллея ведет к центральной достопримечательности зеленой зоны — Кургану бессмертия, созданному во время основания парка. Выполнен курган в форме пирамиды, насыпанной из земли с солдатских и братских могил. Рядом с ним — памятник погибшим партизанам, защищавшим от немцев Киев.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Владимирская горка</string>
		<key>address</key>
		<string>метро «Почтовая площадь»</string>
		<key>description</key>
		<string>Знаменитая ажурная беседка на Владимирской горке появилась благодаря московскому купцу Василию Кокореву, миллионеру и нефтяному магнату. Под впечатлением от красот Киева, он в 1863 году пожертвовал киевским властям 100 рублей для обустройства беседки на верхнем обрыве горки.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Парк КПИ</string>
		<key>address</key>
		<string>м. Политехнический институт</string>
		<key>description</key>
		<string>Полностью работы над парком были завершены в мае 2008 года. В парке установили новые лавки, заменили светильники, настроили поливочную систему. Более 21000 кв. м. парковых аллей и площадок были вымощены заново. Общие ремонтные работы парка Киевского политехнического института обошлись казне города в 17,9 миллионов гривен.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Наводницкий парк</string>
		<key>address</key>
		<string>Набережное шоссе (метро «Днепр»)</string>
		<key>description</key>
		<string>Парк относительно небольшой, его площадь всего 11 гектаров. Расположен он между Набережным шоссе и Днепром. Памятник основателям Киева был воздвигнут в парке в 1982 году, его открытие были приурочено к 1500-летию Киева. Скульптурная композиция изображает ладью, в которой находятся фигуры легендарных братьев Кия, Хорива и Щека и их сестры Лыбидь.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Партизанской славы</string>
		<key>address</key>
		<string>ул. Тростянецкая (метро «Красный хутор»)</string>
		<key>description</key>
		<string>Парк Партизанской славы был создан в 1970 году, на базе соснового леса возле Красного хутора. Площадь парка составляет 115 гектаров. Это один из немногих парков Киева, который выглядит привлекательно не только летом, но и зимой. Летом отдыхающие могут полюбоваться пышными зарослями кустарников, клумбами всех цветов радуги и кронами деревьев, укрывающих от солнца.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Протасов яр</string>
		<key>address</key>
		<string>ул. Протасов Яр, 23-А</string>
		<key>description</key>
		<string>Это настоящий горнолыжный комплекс в центре Киева, предназначенный как для катания на лыжах, так и на сноуборде. Для любителей сноубординга оборудован специальный сноупарк. Тысячи киевлян посещают Протасов яр, чтобы прокатиться на горных лыжах и сноуборде. Вход на территорию свободный, а вот за пользование подъемниками уже придется заплатить.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Куреневский парк</string>
		<key>address</key>
		<string>ул. О. Телиги</string>
		<key>description</key>
		<string>Куреневский парк порадует ваших деток, так как тут находится большое количество каруселей, спиральных горок, есть аттракционы: батут, лебеди, плавающие по воде и другие.  Хорошо гулять в парке осенью – детишкам понравится собирать каштаны и желуди, которые ковром устилают всю землю.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Парк Теремки</string>
		<key>address</key>
		<string>пр. Академика Глушкова, 61</string>
		<key>description</key>
		<string>Не далеко от пляжа находятся площадки для игры в пентак — прованскаю национальную игру, по правилам которой две команды бросают металлические шары. Также в парке есть две голубятни, что для Киева очень редко явление в таком количестве.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Деснянский парк</string>
		<key>address</key>
		<string>ул. Теодора Драйзера</string>
		<key>description</key>
		<string>На месте, где планировали развивать административный центр, жители начали высаживать деревья и кусты, дабы место не пропадало. Со временем деревья и кустики переросли в  в парк с проложенными  асфальтовыми дорожками, фонарями и лавочками. Жители постарались, чтоб и маленьким деткам тут было чем заняться, оборудовали детскую площадку.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Парк Первомайский</string>
		<key>address</key>
		<string>ул. Уманская</string>
		<key>description</key>
		<string>По проложенным дорожкам парка можно прийти к недостроенной Ленинской аллее. Строительство было начато в 1969 году, но успели построить только часть аллеи и беседку. Также в Первомайском парке есть шикарная модернизированная детская площадка.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Парк Киото</string>
		<key>address</key>
		<string>ул. Киото (метро «Черниговская»)</string>
		<key>description</key>
		<string>При обустройстве парка авторами проекта старательно изучалась парковая культура Японии. Некоторые из них даже побывали в Японии и консультировались с хранителями скверов. Из Японии же приезжали специалисты, которые давали консультации уже на месте строительства парка.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Урочище Наталка</string>
		<key>address</key>
		<string>Оболонская набережная</string>
		<key>description</key>
		<string>Местные жители в восторге от своего парка, так как он подходит для отдыха всей семьей. Также на территории урочища есть оборудованные дорожки для велопрогулок и катания на роликах. На берегу озера часто можно увидеть рыбаков.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Парк Таращанец</string>
		<key>address</key>
		<string>ул. Ялтинская</string>
		<key>description</key>
		<string>Название парка «Таращанец» возникло не из головы. Он был назван в честь бронепоезда «Таращанец», который почти век назад, в 1919 году, на протяжении шести дней защищал Дарницкий железнодорожный узел, не давая белогвардейцам захватить тысячи жителей города Киева. Когда бронепоезд был блокирован и его экипажу предложили сложить оружие, защитники подорвали поезд и себя вместе с ним.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Сырецкий дендропарк</string>
		<key>address</key>
		<string>ул. Тираспольская, 43 (метро «Сырец»)</string>
		<key>description</key>
		<string>В 50-60-е годы прошлого столетий в парке проводились работы по расширению, формированию ландшафта, созданию художественного образа. Результаты этих работ можно наблюдать и сейчас. Работы проводились под руководством дендролога Н.А. Птицына. Под его руководством было высажено около 500 видов, форм, сортов, культур деревьев, кустарников и травянистых растений.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Пейзажная аллея</string>
		<key>address</key>
		<string>Пейзажная аллея</string>
		<key>description</key>
		<string>Детский парк на Пейзажной аллее это прекрасное место для культурного отдыха и для прогулки с детьми. Парк был открыт в ноябре 2009 года, благодаря усилиям жильцов окрестных домов.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Парк Юность</string>
		<key>address</key>
		<string>проспект Леся Курбаса</string>
		<key>description</key>
		<string>Парк «Юность» находится в жилом массиве Борщаговка. Это одно из самых любимых мест жителей массива для прогулок на выходных. Парк занимает территорию 6,5 гектаров. В нем можно отдохнуть в тени деревьев на лавочке, или на зеленом газоне.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Сквер Гейдара Алиева</string>
		<key>address</key>
		<string>ул. Глубочицкая, 22/24</string>
		<key>description</key>
		<string>Сразу же при входе в парк посетители могут увидеть большую скульптуру экс-президента Азербайджана Гейдара Алиева. Именно ему посвящен сквер. Главной же достопримечательностью сквера является изысканный светящийся фонтан. Он выполнен в виде легендарного ковра «шейх Сафи», который является национальной реликвией Азербайджана.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Дорогожицкий парк</string>
		<key>address</key>
		<string>метро «Дорогожичи»</string>
		<key>description</key>
		<string>К архитектурным достопримечательностям этого парка  можно отнести также 380-метровый шпиль главной телевышки и «карандаш» здания телецентра.

У парка страшная история, с не менее ужасными событиями, чего только  стоят Бабий яр и находящаяся поблизости психиатрическая больница.

Но, не смотря ни на что, ныне Дорогожицкий парк —  это красивое место, где можно шикарно провести время.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Киевская Русь</string>
		<key>address</key>
		<string>село Копачев, Обуховского района</string>
		<key>description</key>
		<string>Именно в парке «Киевская Русь» впервые воспроизводится и строится архитектурный облик средневекового города − Детинца-Кремля Киева V-XIII веков. В его исторических размерах создается атмосфера Киевской Руси. Трудно представить, что такой проект находится всего в 34 километрах от Киева в селе Копачев.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Парк Отрадный</string>
		<key>address</key>
		<string>ул. Героев Севастополя</string>
		<key>description</key>
		<string>Занимает площадь около 16 гектаров. Это любимое место для прогулок у жителей Отрадного. В нем можно приятно отдохнуть от городской суеты или на лавочке, или прогуливаясь дорожками, или с удочкой у водоема.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Голосеевский парк</string>
		<key>address</key>
		<string>ул. Генерала Родимцева</string>
		<key>description</key>
		<string>Заложен Голосеевский парк был в 1957 году на базе существующего лесного массива. Его общая площадь занимает 140,9 гектаров. Парк назван в честь выдающегося украинского поэта Максима Рыльского.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Печерский ландшафтный парк</string>
		<key>address</key>
		<string>ул. И. Мазепы, 31 (метро «Арсенальная»)</string>
		<key>description</key>
		<string>Печерский парк был создан в 1981 году как продолжение полосы городских парков на склонах правого берега Днепра. Поэтому гулять по парку придется вверх-вниз. Это зеленое богатство столицы раскинулось на площади около 40 гектаров, а соседями парка являются Киево-Печерская Лавра и Национальный музей Великой Отечественной войны.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Певчее поле</string>
		<key>address</key>
		<string>метро «Арсенальная»</string>
		<key>description</key>
		<string>В будние дни на Певчем поле тишина и спокойствие. Здесь можно спокойно погулять, полежать на траве, почитать книгу на уютной лавочке. Все меняется, когда на этом месте проводятся фестивали или концерты. Тогда здесь просто яблоку негде упасть от огромного количества людей.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Гидропарк</string>
		<key>address</key>
		<string>метро «Гидропарк»</string>
		<key>description</key>
		<string>Гидропарк расположен на Венецианском и Долобецком островах между Днепром и Русановским проливом. Площадь парка — 365 га. Острова между собой связаны Венецианским мостом, с правым берегом Днепра — мостом Метро, с левым берегом — Русановским мостом.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Парк Шевченко</string>
		<key>address</key>
		<string>ул. Терещенковская, 10 (ст.м. Льва Толстого)</string>
		<key>description</key>
		<string>Идея создать парк Шевченко появилась у чиновников еще в 1860 году. Тогда садоводу Карлу Христиани поручили проектирование сквера, который должен был гармонично «вписаться» в архитектурный ансамбль, создаваемый прилегающими зданиями и центральными улочками города. Прошло около 30 лет – и в 1890 году торжественно открыли Университетский парк.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ботсад Гришко</string>
		<key>address</key>
		<string>ул. Тимирязевская, 1 (метро «Печерская»)</string>
		<key>description</key>
		<string>Национальный ботанический сад имеет замечательное расположение, что делает его непохожим на все другие сады. Это 170 га прекрасного природного ландшафта почти в Центре города. Отличная визуальная и композиционная связь с Днепром и Левобережьем. Недалеко от ботанического сада находятся мемориальный комплекс «Украинский государственный музей истории Великой Отечественной войны 1941—1945 годов» и Киево-Печерский государственный историческо-культурный заповедник.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Парк Дружбы народов</string>
		<key>address</key>
		<string>проспект Генерала Ватутина</string>
		<key>description</key>
		<string>В парке расположены клуб водных видов спорта «Экстремальная тяга» с воднолыжной канатно-буксировочной дорогой (длина кольца канатной дороги — 560 метров). Есть пейнтбольный клуб «Планета» и велоклуб «PARTYZAN». Часто в парке устраиваются собачьи выставки. Так что посетив парк в выходной день, можно найти занятие по душе.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ботсад Фомина</string>
		<key>address</key>
		<string>ул. Симона Петлюры, 1(метро «Университет»)</string>
		<key>description</key>
		<string>Ботанический сад имени А.В. Фомина один из старейших ботанических заведений Украины. Это научно-исследовательское, учебное, образовательное, природоохранное учреждение, которое имеет целью сохранение, изучение и обогащение растительных ресурсов региона видами местной и мировой флоры путем создания, пополнения и сохранения ботанических коллекций.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Парк Пушкина</string>
		<key>address</key>
		<string>проспект Победы, 40</string>
		<key>description</key>
		<string>Осенью 1899 года от главы садовой комиссии городской думы Ромышовского поступило предложение присоединить участок Брест-Литовского шоссе к черте города, и разбить на этом месте городской парк. Под строительство было выделено 58 десятин земли.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Парк Нивки</string>
		<key>address</key>
		<string>метро «Нивки»</string>
		<key>description</key>
		<string>Восточная часть нынешнего парка Нивки размещается на месте бывшего хутора Висильчики, который в 1859 году по приказу Александра II был отдан в пользование киевскому генерал-губернатору И.И. Васильчикову. Такова предыстория возникновения Васильчиковской дачи, которая охватывала территорию в 55 десятин земли. Здесь были участки леса, несколько прудов, сенокосные угодья, а также огород и сад. В центре усадьбы стоял двухэтажный особняк.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Парк Совки</string>
		<key>address</key>
		<string>ул. Жмеринская</string>
		<key>description</key>
		<string>С 1976 года расположен на территории урочища «Скарбовый (Казённый) Лес». Площадь парка более 35 га. На территории парка расположены насаждения сосен, берез и кленов. Лесопосадка ограждена от шума города. В парке «Совки» созданы все условия для приятного отдыха: грунтовые тропинки и дорожки пересекают всю территорию лесопосадки, уютные скамейки расположены на главных пеших путях парка, необычные ямы выступают вместо урн. В парке «Совки» достаточно чисто.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Мариинский парк</string>
		<key>address</key>
		<string>ул. Михаила Грушевского</string>
		<key>description</key>
		<string>Был заложен в 1874 году по проекту садовода О.Г. Недзельського. Именно в нем находится известный памятник архитектуры — Мариинский дворец, на фоне которого Президент Украины поздравляет соотечественников с Новым годом. Левее парка расположились Верховная Рада Украины и Кабинет Министров Украины.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ВДНХ</string>
		<key>address</key>
		<string>пр. Академика Глушкова, 1</string>
		<key>description</key>
		<string>Провел свою первую выставку еще в далеком 1958 году 6 июля, потому у него было больше шестидесяти лет, чтобы освоить мастерство организации на том уровне, который доступен нам сейчас. Оформлением выставочного центра занимались лучшие скульптуры и художники того времени республики СССР. Уникальная постройка Экспоцентра включает в себя 180 построек, из них 20 относятся к национальный памятникам Украины.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Парк Феофания</string>
		<key>address</key>
		<string>ул. Академика Лебедева, 19</string>
		<key>description</key>
		<string>Это историческая местность на окраине Киева. Парком занимаются профессиональные архитекторы по ландшафтному дизайну, поэтому с каждым годом это место становится все лучше и красивее. Ранее местность, на которой сейчас расположен парк Феофания, называлась Лазаревщиной по имени некоего монаха-пасечника Лазаря. Парк находится между Пироговым, Теремками и Голосеевом. Старейшая его часть проходит около улицы Лебедева и вокруг церкви Святого Пантелеймона, которая была сооружена в 1912-м году.</string>
	</dict>
</array>
</plist>
